@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 213, 225, 239;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 213, 225, 239;
		--background-end-rgb: 213, 225, 239;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

html {
	font-size: 15px;
	background: rgb(var(--background-end-rgb));
}
